@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");

:root {
  --primary: #3a405a;
  --secondary: #00778f;
  --background: #f8f6f1;
  --text: #222222;
}

.skip-link.wrapper {
  padding-block-start: 0.5em;
  padding-block-end: 0.5em;
}

a[href="#main"] {
  color: white;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.body-wrapper {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

main {
  background: var(--background);
}

.feature {
  background: var(--primary);
  padding: 3em 0;
}

.feature *,
footer * {
  color: white;
}

.wrapper {
  width: clamp(16rem, 93vw, 75rem);
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.wrapper.page-content {
    margin-block-start: 2em;
}

.grid {
  display: grid !important;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 1em auto;
}

.card {
  padding: 1em;
  border: 1px solid var(--text);
}
