h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.3;
    font-family: "Roboto Slab", monospace;
    font-weight: 700;
    margin-block-end: 0.5em;
}

h1 {
    font-size: 2.5rem;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

h2 {
    font-size: 2.125rem;
    font-weight: 700;
}

p {
    margin: 0;
    font-size: 1.2rem;
}

ul li, ol li {
    font-size: 1.2rem;
}

@media (min-width: 48em) {
    main p {
        max-width: 80ch;
    }
}

.lead {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.4;

    @include mq(md) {
        font-size: 2rem;
    }
}

main a {
    color: var(--secondary);
}
