header nav ul {
    margin: 0;
    padding: 0;
}

header nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 1em;
    justify-content: center;
}

header nav ul li a {
    color: white;
    font-size: 1.2em;
    padding: 0.5em 0;
}

.nav__item--active {
    text-decoration: underline;
}

header nav ul li a:hover,
header nav ul li a:focus {
    text-decoration: underline;
}