---
title: What We Do at Accessible Advice
layout: page
permalink: /what-we-do/
eleventyNavigation:
  key: What We Do
---

<div class="container">
    <h1>What We Do</h1>
    <p>Here’s a list of all the things we can help you with:</p>
    <ul>
      <li>Web accessibility and usability audits that use WCAG 2.1 as the starting point.</li>
      <li>Detailed reports that offer helpful ways to make all aspects of your website - including PDF and Microsoft Office documents - more accessible.</li>
      <li>Help you improve subtitles on your videos and make transcripts for podcasts and other media.</li>
      <li>Copy edit your website content and help improve search engine optimization (SEO).</li>
      <li>Write appropriate alternative text for the images on your website, from product photos to graph and charts and anything in-between.</li>
      <li>Help improve your Shopify, Wordpress or other CMS website and improve its template’s accessibility.</li>
    </ul>

    <p>Feel free to <a href="/contact">contact us</a> to ask for more details on any of these services.</p>

</div>