<!DOCTYPE html>
<html lang="{{ meta.lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ meta.title }}</title>

    <link rel="stylesheet" href="{{ '/assets/styles/main.css' | url }}">
    {% include "meta.njk" %}
</head>
<body>
    <div class="skip-link wrapper">
        <a href="#main">Skip to content</a>
    </div>
    <div class="body-wrapper">
        {% include "header.njk" %}
        <main id="main" tabindex="-1">
            <section class="feature">
                <div class="wrapper">
                    <h1>More Than Just an Audit</h1>
                    <p>Making a website or document more accessible can be difficult. And while it's always best to make things accessible from the beginning, problems often need to be identified and fixed after the fact. Accessible Advice can help wherever you are in the process. Read more about what we do to find out how we can help make your piece of the web more accessible for everyone, or contact us to start a conversation.<p>
                </div>
            </section>
            <div class="wrapper grid">
                <div class="card">
                    <h2>Get to know us</h2>
                    <p><a href="/about">Learn more about us</a>, including our experience and certifications in web accessibility.</p>
                </div>
                <div class="card">
                    <h2>What do we do?</h2>
                    <p>Lots of things, but mostly we help make websites and documents more accessible. <a href="/what-we-do">Learn more about what we do</a>.</p>
                </div>
                <div class="card">
                    <h2>Reach out</h2>
                    <p>We work with only one client at a time to make sure that you're always the center of attention. <a href="/contact">Contact us</a> to see if we're available.</p>
                </div>
            </div>
        </main>
        {% include "footer.njk" %}
    </div>
    <script type="text/javascript" src="{{ '/assets/scripts/main.js' | url }}"></script>
</body>
</html>